* {
   box-sizing: border-box;
}

html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

body {
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background: lightsteelblue;

   display: grid;
   grid-template-columns: 1fr auto;
   justify-items: end;
}

@media (orientation: portrait) {
   body {
      grid-template-columns: unset;
      grid-template-rows: 1fr auto;
   }
}

#menu {
   background: darkgrey;
}

#canvas {
   background: rgb(243, 228, 206);
   display: grid;
   width: 100%;
   height: 100%;
   /* place-content: space-between;
   place-items: space-between; */
   cursor: crosshair;


}

#canvas div {
   /* border: 1px solid rgb(215, 119, 119); */
}

.cell {
   background-color: lightblue;
   transition: background 3000ms ease-out;


}

.cell:hover {
   background-color: black;
   transition: background 20ms ease-out;
}